!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %link{:href => "application.scss", :rel => "stylesheet"}/
    %title Chat Space
  %body
    .header
      .header__left
        .header__left__name__holder
          %p.header__left__name__holder User_name
      .header__right
        .header__right__name
          %h4 sample_group
          %p MENBERS:sample
        .header__right__edit__button
          %span edit
    .content
      .content__left
        %ul#lastmessage__list
          %li
      .content__right
        .content__chat
          %ul#message
            %li
        .content__input
          .input__form__box
          .send__button
