@import "./reset";
//ポップアップ
.top_bar{
  background-color:rgba(0, 166, 255, 1);
  height: 20px;
  .nav_comment.text-center p {
    color: white;
    text-align:center;
    font-size:16px;
  }
}

//ヘッダー
.header{
  height: 96px;
  width:100%;
  .header_left{
    width:20%;
    background-color: #253141;
    float:left;
    height:80px;
    padding:20px 20px 20px 20px;
    .header_left_names{
      margin: 35px 20px 15px 20px;
      height: 20px;
      background-color: white;
      .header_user_name p{
        color: white;
        font-size:16px ;
        text-align:left ;
      }
      .header_user_name i{
        color: white;
        text-align: right;
        font-size:16px ;
      }
    }
  }
  .header_right{
    height:80px;
    width:80%;
    background-color:rgba(230, 234, 234, 1);
    float:right;
    opacity:0.5;
    padding:20px 20px 20px 20px;
    .header_group_name{
      height:40px;
      width:300px;
      background-color:blue;
      .header_group_name p{
        color:black;
        font-size:20px;
        text-align:left;
      }
    }
    .header_menbers_name p{
      color:black;
    }
  }
}

//コンテンツ
.low_contents{
  height:900px;
  .lowcontentleft{
    background-color:black;
    width:20%;
    height:100%;
    padding:20px 20px 0px 20px;
  }
}
