html {
    height: 100%;
    overflow:hidden;
}
body{
  height:100%;
  background-color: white;
  font-size: 14px;
  color: #333;
  margin:0;
  padding:0 0 0 0;
}
h1, h2, h3, h4, h5, h6, p{
  padding: 10px 0;
  margin: 0;
  color: white;
}
.alert-notice {
  width:100%;
  color: #3c763d;
  background-color: #dff0d8;
}
.alert-error {
  width:100%;
  background-color: #f2dede;
  color: #a94442;
}
.header{
  height: 100px;
  width:100%;
  position: relative;
  top: 0px;
  left: 0px;
  .header__left{
    width: 260px;
    height: 100%;
    background-color: black;
    padding: 0 20px 0 20px;
    float: left;
    .header__left__name__holder{
      float: left;
      p{
        padding-top: 0;
        padding-bottom: 0;
        font-size: 20px;
        position:relative;
        top:35px;
        left:0;
      }
      i{
        color:white;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 20px;
        position:relative;
        top:40px;
        left:100px;
      }
    }
  }
  .header__right{
    width: 80%;
    height: 100%;
    background-color: white;
    margin-left: 300px;
    padding: 0 40px 0 40px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: medium;
    .header__right__name{
      width: 200px;
      float: left;
      position:relative;
      top:35px;
      left:0;
      h4{
        width: 100px;
        color: black;
        font-size: 20px;
        padding:0;
      }
      p{
        color: gray;
        font-size: 10px;
        padding:0;
        margin:10px 0 0 0 ;
      }
    }
    button{
      height: 40px;
      border-width: medium;
      border-style: solid;
      border-color: lightblue;
      background-color:white;
      float: right;
      padding: 0 20px 0 20px;
      position:absolute;
      top:28px;
      left:93vw;
      color: lightblue;
      font-size: 15px;
    }
  }
}
.content{
  height:100%;
  .content__left{
    width: 260px;
    height: 475px;
    background-color: #253141;
    padding: 20px 20px 20px 20px;
    float: left;
    clear: both;
    position: relative;
    top: 0px;
    left: 0px;
    ul#lastmessage__list{
      list-style-type:none;
      padding:0;
      li.message{
        width:100%;
        padding:0;
        h5{
          margin:20px 0 5px 0;
          padding:0;
          font-size:15px;
        }
        p{
          margin:0 0 40px 0;
          padding:0;
          font-size:11px;
        }
      }
    }
  }
  .content__right{
    height: 81%;
    width: 80%;
    margin-left: 300px;
    padding: 0 40px 0 40px;
    background-color: white;
    .content__chat{
      height: calc(100vh - 90px - 100px);
      width:940px;
      overflow-y:scroll;
      ul#message{
        list-style-type:none;
        padding:0;
        height:300px;
        li.chat_message{
          .name__date{
            width:400px;
            height:78px;
            h5.chatmessage {
              font-size:16px;
              color:black;
              padding:40px 0 10px 0;
              float:left;
            }
            p.date {
              font-size:12px;
              color:gray;
              float:left;
              margin:35px 16px 0;
            }
          }
          p.chat {
            font-size:14px;
            color:black;
            padding:0;
            clear:both;
          }
        }
        .last{
          height:40px;
          width:100%;
        }
      }
    }
    .content__input{
      background-color: #c3deff;
      height: 90px;
      width:100%;
      position: fixed;
      top: 800px;
      left: 300px;
      position: fixed;
      top: 86%;
      left: 300px;
      .input__form__box{
        height:50px;
        width:62%;
        background-color:white;
        float:left;
        position:absolute;
        top:20px;
        left:20px;
        p{
          color:#434A54;
          font-size:16px;
          position:relative;
          left:50px;
          top:3px;
        }
        i{
          color:black;
          padding-top: 0;
          padding-bottom: 0;
          font-size: 20px;
          position:absolute;
          left:96%;
          top:15px;
        }
      }
      .send__button{
        height:50px;
        width:10%;
        background-color:#38aef0;
        float:right;
        position:absolute;
        top:20px;
        left:65vw;
        text-align:center;
        p{
          color:white;
          font-size:25px;
          padding:5px 0 0 0;
        }
      }
    }
  }
}
.account-page {
  .account-page__inner {
    width: 980px;
    margin: 60px auto;
    padding: 60px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;

    .account-page__inner--left, .account-page__inner--right {
      float: left;
      width: 50%;
    }
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .account-page__header {
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 200;

      &:after {
        content: '';
        display: block;
        width: 60px;
        margin-top: 5px;
        border-bottom: 1px solid #38aef0;
      }
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
    }

    .btn {
      margin-top: 20px;
      color: #fff;
      background-color: #ccc;
      font-size: 14px;
    }
  }

  .field {
    margin-bottom: 10px;

    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;

      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
  }

  .btn {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }

  input[type='submit'] {
    float: left;
    margin-top: 20px;
    color: #fff;
    background-color: #38aef0;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

//groupページ
.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  h1.chat-group-form {
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
    color:black;
  }
  .chat-group-form__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;

    h2 {
      margin-bottom: 10px;
      color: #f05050;
      font-size: 14px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: 13px;
    }
  }

  .chat-group-form__field {
    margin-top: 30px;

    .chat-group-form__field--left {
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }

    .chat-group-form__field--right {
      float: right;
      width: 70%;
    }

    .chat-group-form__label {
      display: block;
      line-height: 50px;
      font-weight: bold;
      text-align: right;
    }

    .chat-group-form__input {
      float: left;
      width: 100%;
      line-height: 30px;
      padding: 10px 15px;
      box-sizing: border-box;
    }
  }

  .chat-group-user {
    padding: 0 15px;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;

    .chat-group-user__name {
      float: left;
    }

    .chat-group-user__btn {
      float: right;
      display: inline-block;
      cursor: pointer;

      &.chat-group-user__btn--add {
        color: #38aef0;
      }

      &.chat-group-user__btn--remove {
        color: #f05050;
      }
    }
  }

  .chat-group-form__action-btn {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    background-color: #38aef0;
    border: 0;
  }
}
